Algoritmo ECLAT

In [ ]:
!pip install pyECLAT

In [ ]:
!pip list

In [5]:
import pandas as pd
base_mercado1 = pd.read_csv('../mercado.csv', header=None)

In [6]:
from pyECLAT import ECLAT
eclat = ECLAT(data = base_mercado1)

In [7]:
eclat.df_bin

   cafe  feijao  cerveja  manteiga  arroz  leite  pao
0     0       0        1         1      0      1    1
1     1       0        0         1      0      0    1
2     1       0        0         1      0      0    1
3     1       0        0         1      0      1    1
4     0       0        1         0      0      0    0
5     0       0        0         1      0      0    0
6     0       0        0         0      0      0    1
7     0       1        0         0      0      0    0
8     0       1        0         0      1      0    0
9     0       0        0         0      1      0    0

In [8]:
eclat.uniq_

[nan, 'cafe', 'feijao', 'cerveja', 'manteiga', 'arroz', 'leite', 'pao']

In [13]:
indices, suporte = eclat.fit(min_support=0.3, min_combination=2, max_combination=4)
indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

Combination 2 by 2

3it [00:00, 79.24it/s]

Combination 3 by 3

1it [00:00, 59.94it/s]

Combination 4 by 4

0it [00:00, ?it/s]

Combination 1 by 1

3it [00:00, 92.19it/s]

Combination 2 by 2

3it [00:00, 100.13it/s]

Combination 3 by 3

1it [00:00, 76.19it/s]

In [14]:
indices

{'cafe': [1, 2, 3],
 'manteiga': [0, 1, 2, 3, 5],
 'pao': [0, 1, 2, 3, 6],
 'cafe & manteiga': [1, 2, 3],
 'cafe & pao': [1, 2, 3],
 'manteiga & pao': [0, 1, 2, 3],
 'cafe & manteiga & pao': [1, 2, 3]}